<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
 <script type="text.javascript" src="/dist.main.js"></script>

<link rel="shortcut icon" href="#">
</head>
 <body>
<div id = "app">
  <div class ="container headline">
    <h1>Travel Planner</h1>
  </div>
  <div class ="container city">
    <label for="zip">Enter detination city</label>
    <input type="text" id="city" placeholder="Destination city"></input>
  </div>
  <div class ="container date">
    <label for="date">Departure Date</label>
    <input type="date" class= "dateInput" id="date"></input>
    <button id="generate" type = "submit"> Submit </button>
  </div>
  <div class ="container tripDetails">
    <div class = "title">Trip Details</div>
   <div id = "weather">Weather goes here </div>
    <div id = "countdown">Countdown goes here</div>
   <div id = "departureDate">Departure date goes here</div>
   <div id = "locationImage">Location image goes here</div>
   <div id = "latitude">Location image goes here</div>
   <div id = "longitude">Location image goes here</div>
  </div>
  </div>
  </div>

</body>
</html>
