<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
 <script type="text.javascript" src="/dist.main.js"></script>

<link rel="shortcut icon" href="#">
</head>

<body>

<div class = "app">
<div class ="headline">
  <h1>Travel Planner</h1>
</div>

<div class="box">
  <div class="title">Enter trip details:</div>
  <div class="entry">
    <label for="zip">Destination City</label>
    <input type="text" id="city" placeholder="Destination city"></input>
  </div>
  <div class="entry">
    <label for="date">Departure Date</label>
    <input type="date" id="date"></input>
  </div>
  <div class="entry">
    <label for="retDate">Return Date</label>
    <input type="date" id="retDate"></input>
  </div>
  <div class="entry">
    <button id="generate" type = "submit"> Submit </button>
  </div>
</div>

<div class="box">
  <div id="message" class = "title">Results...</div>
  <div id = "high"></div>
  <div id = "low"></div>
  <div id = "weather"></div>
  <div id = "countdown"></div>
</div>

<div class="box">
  <div id = "locationImage"></div>
</div>

</div>
<script>
   if ('serviceWorker' in navigator) {
       window.addEventListener('load', () => {
           navigator.serviceWorker.register('/service-worker.js');
       });
   }
</script>

</body>
</html>
