body {
  font-family: "Nunito";
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4ABDAC;
}

img{
  width: 50%;
  height: auto;
}

.button:hover{
  background-color: #4CAF50;
}

.entry{
  display:inline;
}

.container{
  justify-content: center;
  text-align: center;
  margin: 20px;
  display:flex;
  flex-direction: column;
}

.headline{
  background-color: #F7B773;
  text-align: center;
  font-size: 25px;
  justify-content: center;
  border-radius: 5px;
}

.title{
  font-size:18px;
  font-weight: bold;
}

.box{
  width:75vw;
  background-color: #FC4A1A;
  margin: 20px;
  justify-content: center;
  text-align: center;
  display:flex;
  flex-direction: column;
  border-radius: 5px;
}
